body {
    background-color: rgb(134, 173, 173);
    font-family: Arial, sans-serif;
}

.nav {
    text-align: center;
    margin: 20px;
}
h1{
    margin-right: 230px;
}

.btn {
    margin: 0 10px;
    padding: 6px 12px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.green {
    background-color: #4CAF50;
}

.darkgreen {
    background-color: #235106;
}

.contact-container {
    width: 600px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

.contact-container h1 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

.error-text {
    color: red;
    font-size: 0.9em;
}

.submit-btn {
    padding: 10px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
